@using originalstoremada.C_
@model originalstoremada.Models.Users.Admin

@{
    Layout = RoutePath.HtmlTemplateAdmin();
}

<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
        <form asp-controller="Admin" asp-action="Login" method="POST" class="col-lg-3 col-md-4 col-10 mx-auto text-center needs-validation" novalidate>
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center">
                <img src="~/images/OSM/osm-mini.png" class="navbar-brand-img rounded-circle brand-md"/>
            </a>
            <h1 class="h6 mb-3">Se Connecter</h1>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input value="admin@gmail.com" name="mail" type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input value="admin" name="code" type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Mot de passe" required>
            </div>
            <div class="checkbox mb-3">
                <label><input name="remember" type="checkbox" value="true" checked> Rester Connecter </label>
            </div>
            <button class="btn btn-lg but2-mod2 but-block" type="submit"><span>Se Connecter</span></button>
            
            <p class="mt-5 mb-3 text-muted"><a asp-action="SignUp">S'inscrire en tant qu'employer</a></p>
            <p class="mt-5 mb-3 text-muted">© OSM</p>
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Invalide! @ViewBag.error</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            
        </form>
    </div>
</div>

@*<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">Original Store Mada</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                <p class="text-center small">Enter your username & password to login</p>
                            </div>

                            <form asp-controller="Admin" asp-action="Login" method="POST" class="row g-3 needs-validation" novalidate>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Mail</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-mailbox"></i></span>
                                        <input type="text" name="mail" class="form-control" id="yourUsername" required>
                                        <div class="invalid-feedback">Please enter your mail.</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <input type="password" name="code" class="form-control" id="yourPassword" required>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Remember me</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Login</button>
                                </div>

                                <div class="col-12">
                                    <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                                </div>

                            </form>
                            
                            @if (ViewBag.error != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Invalide! @ViewBag.error</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>*@
