@using originalstoremada.C_
@model originalstoremada.Models.Users.Client

@{
    ViewBag.Title = "title";
    Layout = RoutePath.ContentClient();
}

<link rel="stylesheet" type="text/css" href="~/lib/login2/assets/style.css">

<section class="ftco-section">
    <div class="container">
	
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Rejoignez-nous !</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="pal6_bg2 text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                        <div class="text w-100">
                            <img style="width: 50px" src="~/images/OSM/osm.jpg" alt="IMG" class="rounded-circle opacity-100 shadow-lg">
                            <h2>DÉJÀ CLIENT ? </h2>
                            <p>Vous avez déjà un compte?</p>
                            <a asp-action="Login" class="btn but2-mod3"><span>Se connecter</span></a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">PAS ENCORE DE COMPTE ?</h3>
                                <h6 class="mb-4">Inscrivez-vous avec un compte mail</h6>
                            </div>
                        </div>
                        <form class="signin-form needs-validation" asp-action="SignUp" novalidate>
                            @if (ViewData["RedirectController"] != null && ViewData["RedirectAction"] != null)
                            {
                                <input type="hidden" name="RedirectController" value="@ViewData["RedirectController"]"/>
                                <input type="hidden" name="RedirectAction" value="@ViewData["RedirectAction"]"/>
                            }
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" asp-for="Nom" placeholder="Nom">
                            </div>

                            <div class="form-group mb-3">
                                <input type="text" class="form-control" asp-for="Prenom" placeholder="Prenom" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" asp-for="Mail" placeholder="Email" required data-validate="Valid email is required: ex@abc.xyz">
                            </div>
                            
                            <div class="form-group mb-3">
                                <input type="text" asp-for="Adresse" placeholder="Adresse" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" asp-for="Code" placeholder="Password" required>
                            </div>
                                                        
                            <div class="form-group mb-3">
                                <input type="password" name="RCode" placeholder="Retaper mdp" class="form-control" required>
                            </div>
                            
                            @if (ViewBag.error != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show text-center mb-3" role="alert">
                                    <strong>Invalide! @ViewBag.error</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                                                                                                            
                            @if (ViewBag.message != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show text-center mb-3" role="alert">
                                    <strong>Invalide! @ViewBag.message</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            
                            <div class="form-group">
                                <button type="submit" class="btn but2-mod4">
                                    <span>Valider</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>